body
{
    background-color: lightblue;
}
h1
{
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-decoration: overline;
}
#secciones
{
    background-color: black;
    width: 100%;
}
.ejemplos
{
    height: 25%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #6daad3;
    padding: 1em;
    margin: auto;
    top: 0; bottom: 0; /* Establece el margen superior e inferior en 0 */
    left: 0; right: 0;
}
img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.libro1,.libro2,.libro3
{
    background-color: rgb(3, 52, 83);
    border: 1px solid black;
    padding: 1vh;
}