@if(Logged)
{
    <p>Bienvenido {{Adminname}}</p>

<div id="divformularios">

    <div id="añadirLibro">
        <p>AÑADIR LIBRO</p>

        <label>Nombre</label>
        <input id="nombrelibro" type="text"/><br>

        <label>Autor</label>
        <input id="autor" type="text"/><br>

        <label>Año publicacion</label>
        <input id="anio_publicacion" type="text"/><br><br>

        <label>Categoría</label>
        <input id="categoria" type="text"/><br><br>


        <button (click)="addBook()">Añadir</button>
    </div>


    <div id="borrarLibro">
        <p>BORRAR LIBRO</p>
        <select name="ellibroaborrar" id="ellibroaborrar">
            @for(libro of loslibros; track libro.id)
            {
                <option value="{{libro.id}}">{{libro.titulo}}</option>
            }

        </select>

        <button (click)="deletebook()">Borrar</button>
    </div>

</div>



    <app-libros/>
}
@else
{
    <section class="admin-section">
    <label>Contraseña</label>
    <input type="password" name="password" id="password"><br>
    <button (click)="EntrarAdmin()">Entrar</button><br>
    </section>
}